<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78127900329-rvr4q7ouoj1rqnvqc2m6iia9rtlvhs50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78127900329-rvr4q7ouoj1rqnvqc2m6iia9rtlvhs50</string>
	<key>API_KEY</key>
	<string>AIzaSyB41kg_tpJQsoCa3HacmXSS7wJeYEl-5s8</string>
	<key>GCM_SENDER_ID</key>
	<string>78127900329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MazingLabCo.fheads</string>
	<key>PROJECT_ID</key>
	<string>football-heads-6ae07</string>
	<key>STORAGE_BUCKET</key>
	<string>football-heads-6ae07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78127900329:ios:97d1ce6ffa4b09db4eabb8</string>
</dict>
</plist>